<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>天气小助手</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/weather.css" \>
</head>
<body class="bg-light">
<div id="loading" class="loading">
    <div class="spinner-border text-success mb-3" role="status" style="width: 60px; height: 60px">
        <span class="sr-only">Loading...</span>
    </div>
    <p>
        正在加载
    </p>
</div>
<div style="display: flex; flex-direction: column; align-items: center; width: 100%">
    <div class="card-frame card" id="currentLocation">
        <div class="card-body py-0 bg-info text-white">
            <p class="text-center my-1" style="font-size: 20px">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor-fill mb-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                </svg>
                当前定位：{{curLocation}}
            </p>
        </div>
    </div>
    <div class="card-frame card text-black bg-primary text-white" id="weather-pane" >
        <div class="card-header">
            {{curDate}}
            <span style="position: absolute; right: 20px;">
                {{curTime}}
            </span>
        </div>
        <div class="card-body container" style="text-align: center">
            <div class="row">
                <div class="col-4" >
                    <p v-if="!ifImageExist">正在获取</p>
                    <img class="mb-3" v-if="ifImageExist" v-bind:src= "imageSrc" />
                </div>
                <div class="col-4" style="font-size: 60px">
                    {{curTemperature}}
                </div>
                <div class="col-4" style="font-size: 20px">
                        {{curTemperatureRange}}
                    <br/>
                        {{curWeather}}
                    <br/>
                        {{curWind}}

                </div>
            </div>
            <div class="row" style="border-top-style: solid; border-top-color: aliceblue">
                <div class="col-4">
                    {{tomorrow.date}}
                    <div style="height: 80px">
                        <img class="mt-3" v-if="tomorrow.ifImageExist" v-bind:src= "tomorrow.imageSrc" />
                    </div>
                    {{tomorrow.tem}}
                </div>
                <div class="col-4">
                    {{aftertomorrow.date}}
                    <div style="height: 80px">
                        <img class="mt-3" v-if="aftertomorrow.ifImageExist" v-bind:src= "aftertomorrow.imageSrc" />
                    </div>
                    {{aftertomorrow.tem}}
                </div>
                <div class="col-4">
                    {{bigaftertomorrow.date}}
                    <div style="height: 80px">
                        <img class="mt-3" v-if="bigaftertomorrow.ifImageExist" v-bind:src= "bigaftertomorrow.imageSrc" />
                    </div>
                    {{bigaftertomorrow.tem}}
                </div>
            </div>
        </div>

    </div>
    <div class="card card-frame bg-success text-white" id="aqiPane">
        <div class="card-body container">
            <div class="row ml-3" style="font-size: 30px">
                空气质量：{{airQuality.type}}
            </div>
            <div class="row ml-3" >
                AQI：{{airQuality.AQI}}
            </div>
            <div class="row ml-3">
                PM2.5：{{airQuality.pm25}}
            </div>
            <div class="row ml-3">
                PM10：{{airQuality.pm10}}
            </div>
        </div>
    </div>
    <div class="card-frame">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item" >
                        <a class="nav-link active" href="#temperature-pane" data-toggle="tab" >温度</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#humidity-pane" data-toggle="tab" >湿度</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="temperature-pane">
                        <canvas id="temperature-chart" width="480" height="280"></canvas>
                    </div>
                    <div class="tab-pane fade" id="humidity-pane">
                        <canvas id="humidity-chart" width="480" height="280"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="/javascripts/Chart.js"></script>
<script>
    //getLocation
    var cityID;
    var locationApp = new Vue({
        el: "#currentLocation",
        data: {
            curLocation: "定位中"
        }
    });

    var hoursData = new Array(24);
    var cityName = new Promise(resolve => {
        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(
                position => {
                    fetch("/getCityName?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude)
                    .then(
                        response => {
                            return response.json();
                        }
                    ).then(
                        cityData => {
                            locationApp.curLocation = cityData.results[0].name;
                            resolve(cityData.results[0].id);
                        }
                    )
                }
            )
        }else {
            alert("获取定位失败");
        }
    });
    
    //Chart
    const date = new Date();
    const label = new Array(24);
    let i;
    for(i = 0; i < 24; i++){
        label[i] = (date.getHours() + i) % 24 +":00"
    }

    var temData = {
        labels: label,
        datasets: [
            {
                label: "温度",
                backgroundColor: "rgba(255,90,0,0.3)",
            }
        ]
    };

    var humData = {
        labels: label,
        datasets: [
            {
                label: "湿度",
                backgroundColor: "rgba(0,153,255,0.3)",
            }
        ]
    };

    function drawChart(temDatas, humDatas){
        temData.datasets[0].data = temDatas;
        let datas = temDatas.slice();
        datas.sort((a, b) => {return a-b;});
        humData.datasets[0].data = humDatas;
        const ctx1 = document.getElementById("temperature-chart").getContext("2d");
        const ctx2 = document.getElementById("humidity-chart").getContext("2d");
        new Chart(ctx1, {
            type: 'line',
            data: temData,
            options: {
                scales:{
                    yAxes:[
                        {
                            ticks: {
                                min: datas[0] - 3,
                                max: parseInt(datas[datas.length-1]) + 3,
                            }
                        }
                    ]
                }
            }
        });
        new Chart(ctx2, {
            type: 'line',
            data: humData
        })
    }

    cityName.then(
        cityID => {
            fetch("/get24?cityID=" + cityID)
            .then(
                response => {
                    return response.json();
                }
            ).then(
                charJson => {
                    const temData = new Array(24);
                    const humData = new Array(24);
                    for(let i = 0; i<24; i++){
                        temData[i] = charJson.results[0].hourly[i].temperature;
                        humData[i] = charJson.results[0].hourly[i].humidity;
                    }
                    drawChart(temData, humData);
                }
            );
        }
    );

    //weather
    switch (date.getDay()) {
        case 1: date.curWeekDay = "星期一"; break;
        case 2: date.curWeekDay = "星期二"; break;
        case 3: date.curWeekDay = "星期三"; break;
        case 4: date.curWeekDay = "星期四"; break;
        case 5: date.curWeekDay = "星期五"; break;
        case 6: date.curWeekDay = "星期六"; break;
        case 7: date.curWeekDay = "星期日"; break;
    }

    date.toLocaleTimeString()
    var curTemperature;
    var weatherPane = new Vue({
        el: "#weather-pane",
        data: {
            curDate: date.toLocaleDateString() + "   " + date.curWeekDay,
            curTime: date.toLocaleTimeString().slice(0, -3),
            ifImageExist: false,
            imageSrc: "",
            curTemperature:"正在获取",
            curTemperatureRange:"正在获取",
            curWeather:"正在获取",
            curWind:"正在获取",
            tomorrow: {
                ifImageExist: false,
                imageSrc: "",
                date: "正在获取",
                tem: "正在获取"
            },
            aftertomorrow: {
                ifImageExist: false,
                imageSrc: "",
                date: "正在获取",
                tem: "正在获取"
            },
            bigaftertomorrow: {
                ifImageExist: false,
                imageSrc: "",
                date: "正在获取",
                tem: "正在获取"
            },
        }
    });

    cityName.then(
        cityID => {
            fetch("/weather?cityID=" + cityID)
                .then(
                    response => {
                        return response.json();
                    }
                ).then(
                weatherJson => {
                    weatherPane.imageSrc = "/images/" + weatherJson.results[0].now.code + "@2x.png";
                    weatherPane.ifImageExist = true;
                    weatherPane.curTemperature = weatherJson.results[0].now.temperature + "℃";
                });
        });

    cityName.then(
        cityID => {
            fetch("/weatherDaily?cityID=" + cityID)
                .then(
                    response => {
                        return response.json();
                    }
                ).then(
                weatherJson => {
                    weatherPane.curTemperatureRange=weatherJson.results[0].daily[0].low + "℃~" + weatherJson.results[0].daily[0].high + "℃";
                    weatherPane.curWeather = weatherJson.results[0].daily[0].text_day;
                    weatherPane.curWind=weatherJson.results[0].daily[0].wind_direction+"风";
                    weatherPane.tomorrow.date=weatherJson.results[0].daily[1].date;
                    weatherPane.aftertomorrow.date=weatherJson.results[0].daily[2].date;
                    weatherPane.bigaftertomorrow.date=weatherJson.results[0].daily[3].date;
                    weatherPane.tomorrow.tem=weatherJson.results[0].daily[1].text_day + weatherJson.results[0].daily[1].low + "℃~" + weatherJson.results[0].daily[1].high + "℃";
                    weatherPane.aftertomorrow.tem=weatherJson.results[0].daily[2].text_day + weatherJson.results[0].daily[2].low + "℃~" + weatherJson.results[0].daily[2].high + "℃";
                    weatherPane.bigaftertomorrow.tem=weatherJson.results[0].daily[3].text_day + weatherJson.results[0].daily[3].low + "℃~" + weatherJson.results[0].daily[3].high + "℃";
                    weatherPane.tomorrow.imageSrc = "/images/" + weatherJson.results[0].daily[1].code_day + "@1x.png";
                    weatherPane.aftertomorrow.imageSrc = "/images/" + weatherJson.results[0].daily[2].code_day + "@1x.png";
                    weatherPane.bigaftertomorrow.imageSrc = "/images/" + weatherJson.results[0].daily[3].code_day + "@1x.png";
                    weatherPane.tomorrow.ifImageExist = true;
                    weatherPane.aftertomorrow.ifImageExist = true;
                    weatherPane.bigaftertomorrow.ifImageExist = true;
                })
        });

    //AQ
    var aqiPane = new Vue({
        el: "#aqiPane",
        data: {
            airQuality: {
                type: '正在获取',
                AQI: '',
                pm25: '',
                pm10: ''
            }
        }
    })

    cityName.then(
        cityID => {
            fetch("/air?cityID=" + cityID)
            .then(
                response => {
                    return response.json();
                }
            ).then(
                airJson => {
                    aqiPane.airQuality.type = airJson.results[0].air.city.quality;
                    aqiPane.airQuality.AQI = airJson.results[0].air.city.aqi;
                    aqiPane.airQuality.pm25 = airJson.results[0].air.city.pm25;
                    aqiPane.airQuality.pm10 = airJson.results[0].air.city.pm10;
                    document.getElementById("loading").classList.add("loading-none")
                }
            )
        }
    )

            /*
    (function () {
        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(
                position => {
                    cityPromise = fetch("/getCityName?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude)
                    .then(
                        response => {return response.json()}
                    ).then(
                        cityName => {
                            locationApp.curLocation = cityName.results[0].name;
                            return  cityName.results[0].id;
                        }
                    ).then(
                        cityID => {
                            fetch("/get24?cityID=" + cityID)
                                .then(response => {
                                return response.json();
                                }).then(
                                hoursDatas => {
                                    var temData = new Array(24);
                                    var humData = new Array(24);
                                    for(let i = 0; i < 24; i++){
                                        temData[i] = hoursDatas.results[0].hourly[i].temperature;
                                        humData[i] = hoursDatas.results[0].hourly[i].humidity;
                                    }
                                    TemperatureData.datasets[0].data = temData;
                                    TemperatureData.datasets[1].data = humData;
                                    temperatureChart = new Chart(ctx, {
                                        type: 'line',
                                        data: TemperatureData
                                    })
                                }
                            )
                            return 88;
                        }
                    )
                }
                , () => {
                    alert("定位失败，请刷新");
                }
            );
        }
    })();
    */


</script>
</body>
</html>