body {
    font-family: 'pingfang-SC', "Microsoft YaHei", sans-serif ;
    width: 100%;
    height: 100%;
    background-color: #00B7FF;
}

.card-frame{
    width: 500px;
    background-color: azure;
    margin-top: 26px;
    margin-bottom: 26px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
}